<div class="container">
  <div class="col-7 p-0 container">
  
    {{#if table}}

        {{#each itens}}
      <div class="row mb-3 ">
      <div class="col">
        <div class="card">
           <h5 class="card-header text-center fs-4 display-6">{{titulo}}</h5>
        <div class="card-body">
        
          <p class="card-text text-center  text-muted">{{descricao}}</p>
          <div class="row">
              <div class="col ">
                <form action="/biblioteca/detalhamento" method="post">
                  <input type="hidden" name="id" value="{{id}}">
                  <input type="hidden"  name="categoria" value="{{categoria}}">
                  <button type="submit" class="w-100 btn btn-info form-group"> Detalhamento</button>
                </form>
              </div>
              <div class="col ">
                <form action="/biblioteca/editar-informacoes" method="post">
                  <input type="hidden" name="id" value="{{id}}">
                  <input type="hidden"  name="categoria" value="{{categoria}}">
                  <button type="submit" class="w-100 btn btn-info form-group"> Editar</button>
                </form>
              </div>
              <div class="col">
                <button  data-bs-toggle="modal" data-bs-target="#delete_{{id}}" class="w-100 btn btn-danger form-group">Deletar</button>
            </div>
            </div>
        </div>
      </div>
      </div>
      </div>

        {{!-- --------- --}}
        <div class="modal fade" id="delete_{{id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">CONFIRMAÇÃO</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body"> 
                  Tem certeza que deseja deletar o título: <strong> {{titulo}}</strong>?
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <form action="/biblioteca/deletar" method="post">
                <input type="hidden" name="id" value="{{id}}">
                <input type="hidden" name="categoria" value="{{categoria}}">
                <button type="submit" class="btn btn-danger">Sim, quero deletar</button>
                </form>
              </div>
            </div>
          </div>
        </div>
        {{/each}}
        </div>
        </div>
    
   
  
    </div>

    {{else}}

    <div class="card mt-4 text-center">
      A categoria está vazia. Após adicionar alguns títulos, eles apareceram aqui.
    </div>
    {{/if}}
  </div>
</div>